td.td-title-EX-HARD {
    background-color: #FFBF20;
}
td.td-title-FULL-COMBO {
    background-color: #80FFFF;
}
.td-lamp-EX-HARD {
    background-color: #FFBF20;
}
.td-lamp-FULL-COMBO {
    background-color: #80FFFF;
}